{% load i18n %}

{% block subject %}
Активация аккаунта на {{ site_name }}
{% endblock subject %}

{% block html_body %}
<p>Вы получили это письмо, потому что вам нужно завершить процесс активации учетной записи на {{ site_name }}</p>

<p>Пожалуйста, используйте нижеприведенные uid и token в POST-запросе по адресу http://127.0.0.1:8000/auth/users/activation/, чтобы активировать учетную запись:</p>
<p>uid: {{ uid }}</p>
<p>token: {{ token }}</p>


<p>Спасибо за использование нашего сайта!</p>

<p>Команда {{ site_name }}.</p>

{% endblock html_body %}